.content{
    background-color: rgb(240,239,242);
}
.message-box{
    background-color: rgb(163, 255, 175);
}
.message{
    color:green;
    padding-left: 20px;
}
.attendance-list{
    display:flex;
    flex-direction:column;
    padding: 50px;
    justify-content:center;
    width:100%;
}
.staff-attendance__title{
    font-size: 32px;
    font-weight: bold;
}
.attendance-list__month{
    display: flex;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px 0px;
    height:40px;
}
.previous__month,
.next__month{
    color:#646464;
    text-decoration: none;
}
.attendance-list__current{
    display: flex;
    align-items: center;
}
.calender__logo{
    height:30px;
    width:40px;
}
.attendance-list__table{
    background-color: white;
    border-radius: 10px;
    table-layout: fixed;
    width:100%;
}
.attendance-list__row{
    width:100%;
    border: 1px solid #C8C8C8;
    height:40px;
}
.attendance-list__row:hover{
    width:100%;
    border: 1px solid #C8C8C8;
    height:40px;
    background-color: #d4d3d3a2;
}
.attendance-list__header,
.attendance-list__description{
    text-align: center;
    color:#646464
}
.attendance-detail__link{
    color:black;
    font-weight: bold;
    text-decoration:none;
}
@media(max-width: 850px){
    .attendance-list{
        padding:10px;
    }
}
@media (max-width: 640px) {
    .attendance-list__month {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        min-width: 500px;
    }
    .attendance-list__table{
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        min-width: 500px;
    }
}